#mi-imagen {
    width: 20%;
    height: auto;
}
body {
    cursor: url('/Archivos/mouse.png'), default; /* Cursor personalizado con respaldo predeterminado */
}


#nombre {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10%;
    height: 100vh;
    padding-top: 6rem;
}
#nombre h1 {
    font-size: 6rem;
}
.linkedin-img,
.git-img {
    
    width: 6%;
    height: auto;
}
a.btn {
    background-color: blueviolet;
    max-width: 100%;
    width: 20%; 
    margin-top: 4%;
}
